body {
  background-color: blueviolet;
  padding: 20px;
}
h1 {
  text-align: center;
}
.profile-section {
  text-align: center;
}
.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50px;
}
